<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{xsrfToken}}">
    <meta name="Description" CONTENT="greenscape nursery is a best fruit, flower, plant wholesale supplier in kadiyam, it also offers gardening and land scape services">
    <meta name="keywords" content="greenscape, nursery, kadiyam, plants, rajahmundry, kakinada, online, shopping, flower, fruits, trees, wholesale, supplier, gardening, landscapers">
    <meta name=”robots” content="index, follow">
    <meta charset="UTF-8">
    <title>GreenScape Nursery.in kadiyam</title>
    <link rel="icon" href="/static/img/logo.jpg" type="image/jpg" sizes="16x16">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <!-- custom css-->
    <link rel="stylesheet" href="/static/css/star-rating-svg.css">
    <link rel="stylesheet" href="/static/css/social_media.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/backgrounds.css">



        <!-- jQuery library -->
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Popper JS -->
    <script type="text/javascript" src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    
    <script type="text/javascript" src="/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="/node_modules/datatables.net-plugins/dataRender/datetime.js"></script>

</head>
<body>
    <header>
        <nav class="navbar bg-light navbar-light text-dark navbar-expand-sm fixed-top flex justify-content-center">
            <div class="container row justify-content-start">
                <button class="navbar-toggler p-1 border-0" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-controls="navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <img src="/static/img/logo.jpg" alt="logo" class="site-logo d-sm-inline-none align-top" height="50" width="50">
                    <span class="site-title">GreenScapeNursery<span class="text-success">.in</span></span>
                </a>
                {{#if (isTrue isVerifiedUser)}}
                    <a type="button" href="/" class="btn btn-transparent cart-btn d-sm-block d-md-none">
                        <i class="fas fa-shopping-cart cart-icon"></i>
                        <span class="badge cart-badge">0</span>
                    </a>
                {{else}}
                    <a href="/login" class="d-sm-block d-md-none sign-in" title="sign in">
                        <span class="fs-20 font-weight-bold">
                            <i class="bi bi-box-arrow-in-left"></i>
                        </span>
                    </a>
                {{/if}}
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/category_items" class="nav-link">Explore</a>
                        </li>
                        <li class="nav-item">
                            <a href="/services" class="nav-link">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="/about" class="nav-link">About</a>
                        </li>
                        {{#if (isTrue isVerifiedUser)}}
                        <li class="nav-item d-sm-block d-md-none sign-out">
                            <a href="/sessionLogout">
                                <span class="">
                                    Sign Out
                                </span>
                            </a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
                {{#if (isTrue isVerifiedUser)}}
                    <a type="button" href="/" class="btn btn-transparent cart-btn d-none d-sm-none d-md-block">
                        <i class="fas fa-shopping-cart cart-icon"></i>
                        <span class="badge cart-badge">0</span>
                    </a>
                    <a href="/sessionLogout" class="d-none d-sm-none d-md-block sign-out">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        <span class="fs-10">
                        Sign Out
                        </span>
                    </a>
                {{else}}
                    <a href="/login" class="d-none d-sm-none d-md-block sign-in">
                        <span class="fs-16">
                            Sign in
                        </span>
                    </a>
                {{/if}}

            </div>
        </nav>
    </header>
    <main role="main">
        <div class="container" id="container">
            {{{body}}}
        </div>
    </main>
        <!-- footer -->
    <footer class="pt-4 pb-2 mt-md-5 pt-md-5 bg-dark">
      <div class="row no-gutters justify-content-around">
        <div class="">
          <img class="mb-2" src="/static/img/jp.jpeg" alt="jpg" width="24" height="24">
          <small class="d-block mb-3 text-muted">© 2020-2025</small>
        </div>
        <div class="d-flex flex-column fs-12 text-white site-links">
            <a href="/" class="">Home</a>
            <a href="/category_items" class="">Explore</a>
            <a href="/services" class="">Services</a>
            <a href="/about" class="">About</a>
        </div>
        <div class="fs-12 social-media-links">
            <a href="https://www.facebook.com/profile.php?id=100070068863005" class="fa fa-facebook"></a>
            <a href="https://instagram.com/greenscapenursey.in__kadiyam?utm_medium=copy_link" class="fa fa-instagram"></a>
        </div>
      </div>
    </footer>
</body>
    

</html>