<!-- about us -->
<div id="aboutus-section" class="section py-3 mt-3">
    <div class="fs-35 font-weight-bold pl-2 text-center">About us</div>
        <div id="carouselAboutUs" class="carousel slide h-75" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="row justify-content-center">
                <img class="d-block" src="https://firebasestorage.googleapis.com/v0/b/test-api-55d38.appspot.com/o/mani_pic.jpeg?alt=media" alt="First slide">
            </div>
            </div>
            <div class="carousel-item">
            <div class="row justify-content-center">
                <img class="d-block" src="https://firebasestorage.googleapis.com/v0/b/test-api-55d38.appspot.com/o/mani_pic.jpeg?alt=media" alt="First slide">
            </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselAboutUs" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselAboutUs" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
</div>
