<header class="px-5 py-5">
    <h3>Add New Plant</h3>
</header>
<main class="px-5">
    <form action="http://localhost:3000/api/add_new_item" method="post" id="add_plant_form" enctype="multipart/form-data">
        <div class="form-row">
            <div class="col-md-3 mb-3">
            <label for="validationServer01">Plant name</label>
            <input type="text" class="form-control" name="plant_name" id="validationServer01" value="Plant name" required>
            <!-- <div class="valid-feedback">
                Looks good!
            </div> -->
            </div>
            <div class="col-md-3 mb-3">
            <label for="validationServer00">Category</label>
            <select class="selectpicker form-control" id="validationServer00" name="plant_category">
                {{#each categories}}
                    <option value="{{key}}">{{val}}</option>
                {{/each}}
            </select>
            </div>
            <div class="col-md-3 mb-3">
            <label for="validationServer02">Description</label>
            <input type="text" class="form-control" name="plant_description" id="validationServer02" value="Description" required>
            <!-- <div class="valid-feedback">
                Looks good!
            </div> -->
            </div>
            <div class="col-md-3">
            <label for="validationServer03">Price</label>
            <input type="number" class="form-control" value="1" name="plant_price" id="validationServer03" value="1" required>    
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept="image/*" name="plant_image" id="customFile_1">
                    <label class="custom-file-label" for="customFile_1">Choose File</label>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept="image/*" name="plant_image" id="customFile_2">
                    <label class="custom-file-label" for="customFile_2">Choose file</label>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept="image/*" name="plant_image" id="customFile_3">
                    <label class="custom-file-label" for="customFile_3">Choose file</label>
                </div>
            </div>
        </div>                        
    </form>
    <button class="btn btn-primary submit_form">Add Plant</button>
    <button class="btn btn-danger reset_form">Reset Fields</button>

</main>
<footer></footer>
<script>
    $(document).ready(function(){
        $('select').selectpicker();
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        $(".reset_form").on("click", function(){
            $("#add_plant_form").reset();
        })
        $(".submit_form").on("click", function(){
            $("#add_plant_form").submit();
        })
    })

</script>
