<!-- items section -->

<div id="items-section" class="section bg-transparent">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{category_name}}</li>
            </ol>
        </nav>
    </div>
    <div class="desktop-items-view d-none d-sm-none d-md-flex">
        <div class="row flex-wrap justify-content-start" style="">            
            {{#item_card items}}
                {{d}}
            {{/item_card}}
        </div>
    </div>
    <div class="mobile-items-view d-sm-block d-md-none">
        <div class="" style="">            
            {{#mob_item_card items}}
                {{d}}
            {{/mob_item_card}}
        </div>
    </div>
</div>
<script src="/static/js/jquery.star-rating-svg.min.js" defer></script>
<script src="/static/js/items_script.js" defer></script>
<script src="/static/js/common.js" defer></script>

<script>
    $(document).ready(function(){
        var starSizeVal = 25
        if($(window).width() < 600){
          starSizeVal = 15
        }
        $(".item-rating").starRating({
            starSize: starSizeVal,
            readOnly: true,
            strokeWidth: starSizeVal,
            strokeColor: "#c45500",
            activeColor: "#f4d078",
            callback: function(currentRating, $el){
                // make a server call here
            }
        });
    })
</script>
