<!-- services section starts here -->
<div id="services-section" class="row">
    <div class="row justify-content-center w-100 m-0">
    <div class="service-card card">
        <img src="/static/img/services_sliders/1.jpg" alt="service_1" class="card-img h-100 w-100">
    </div>
    <div class="service-card card">
        <img src="/static/img/services_sliders/2.jpg" alt="service_1" class="card-img h-100 w-100">
    </div>
    <div class="service-card card">
        <img src="/static/img/services_sliders/3.jpg" alt="service_1" class="card-img h-100 w-100">
    </div>
    <div class="service-card card">
        <img src="/static/img/services_sliders/4.jpg" alt="service_1" class="card-img h-100 w-100">
    </div>

    </div>
</div>
<!-- services section ends here -->